.givens, .filled, .center, .corner {
    text-anchor: middle;
    dominant-baseline: central;
}
.givens, .filled {
    font-size: 65px;
}
.givens {
    fill: #111;
}
.center, .corner {
    font-size: 25px;
}
.filled, .center, .corner {
    fill: $color-input;
}
.drawing {
    fill: transparent;
    stroke: #777;
    stroke-width: 3px;
}
