.givens, .filled, .center, .corner {
    text-anchor: middle;
    dominant-baseline: central;
}
.givens, .filled {
    font-size: 65px;
}
.givens {
    fill: var(--color-givens);
}
.center, .corner {
    font-size: 25px;
}
.filled, .center, .corner {
    fill: var(--color-input);
}
.drawing {
    fill: transparent;
    stroke: var(--color-drawing);
    stroke-width: 3px;
}
