$color-input: #36a;
$color-button: #36a;
$color-button-hover: #47c;

$color-invbutton: #fff;
$color-invbutton-hover: #def;

$layout-ratio-landscape: 3 / 2;
$layout-ratio-portrait:  3 / 5;

$font-ratio: 0.04;

@import "sudoku";

@mixin layout-sizing($width, $height, $ratio) {
    width:  min(#{$width}, #{$height * $ratio});
    height: min(#{$width / $ratio}, #{$height});
    font-size: min(#{$width * $font-ratio / min($ratio, 1)}, #{$height * $font-ratio * max($ratio, 1)});
}

* {
    box-sizing: border-box;
}
body {
    font-family: Montserrat, Arial, sans-serif;
    font-weight: 500;
}

.layout {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @include layout-sizing(90vw, 90vh, $layout-ratio-landscape);
}
.layout-sudoku {
    position: absolute;
    width: 100% * 2 / 3;
    height: 100%;
}
.layout-controls {
    position: absolute;

    top: 50%;
    bottom: unset;
    left: unset;
    right: 0;
    transform: translateY(-50%);

    width: 30%;
    height: 0;
    padding-bottom: 40%;
}
.layout-timer {
    position: absolute;
    top: 0;
    left: 100%;
    transform: translateX(-100%);

    white-space: nowrap;
}

@media (max-aspect-ratio: 9/10) {
    .layout {
        @include layout-sizing(90vw, 90vh, $layout-ratio-portrait);
    }
    .layout-sudoku {
        width: 100%;
        height: 60%;
    }
    .layout-controls {
        top: unset;
        bottom: 0;
        left: 0;
        right: unset;
        transform: none;

        width: 45%;
        padding-bottom: 60%;
    }
    .layout-timer {
        position: absolute;
        top: 65%;
        transform: translateX(-100%);
    }
}
@media print {
    .layout {
        top: 0;
        transform: translateX(-50%);

        @include layout-sizing(100vw, 100vh, 1);
    }
    .layout-sudoku {
        width: 100%;
        height: 100%;
    }
    .layout-controls,
    .layout-timer,
    #sudoku-highlights,
    #sudoku-cursor {
        display: none;
    }

    .center, .corner {
        opacity: 0.5;
    }
}

.fullsize {
    position: absolute;
    
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
}

.controls {
    display: grid;

    grid-template-rows: 1fr 1.4% 1fr 1fr 1fr 1.4% 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 1.5%;
    column-gap: 2%;
}
.controls > * {
    position: relative;
    min-height: 0;
}





.control-btn {
    display: block;
    padding: 0;
    margin: 0;
    text-decoration: none;
    background: $color-button;
    border: 0.01em solid $color-button;
    color: #fff;
    font-family: inherit;
    font-weight: inherit;
    font-size: 100%;
    line-height: 100%;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.1s ease-in-out;

    border-radius: 0.2em;

    -webkit-appearance: none;
    -moz-appearance: none;
}

.control-btn:hover {
    background: $color-button-hover;
}

.control-btn-inv {
    border: 0.01em solid #888;
    background: $color-invbutton;
}
.control-btn-inv:hover {
    background: $color-invbutton-hover;
}

svg.icon {
    display: block;
    width: 100%;
    fill: #fff;
    stroke: #fff;
}
.control-btn-inv svg.icon {
    fill: $color-button;
    stroke: $color-button;
}

.icon > svg {
    display: block;
}
.icon .icon-fill {
    fill: #fff;
}
.control-btn-inv .icon .icon-fill {
    fill: $color-button;
}

.icon-round {
    stroke-linejoin: round;
    stroke-linecap: round;
}


#timer {
    vertical-align: middle;
}
.button-timer {
    display: inline;
    width: 0.8em;
    vertical-align: middle;
}
